/* Programmed by: Ethan Woycehoski */
/* for all of the website */
html {
    /* font size dummy */
    font-size: 30px;
    /* makes it times new roman */
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
}
/* sets stuff for just the title */
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-align:center;
    text-shadow: 2px 2px 1px black;
}
/* sets padding for image*/
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
/* sets constraints for body */
body {
    width: 600px;
    margin: 0 auto;
    background-color: cornsilk;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

/* makes everything in the paragraph part red */
p {
    color: red;
}
/* makes everything in undordered list green */
ul {
    color: green;
}

.done {
    color: darkseagreen;
    text-decoration: line-through solid black 2px;
}
